<h1> Welcome to the Career Path App!</h1>
<strong> You are in highschool, you get to choose your path! </strong>

<h2> <%= @title %> </h2>
<h2> <%= @ending %> </h2>

<% if @choices %>

<form method= "POST" action="/">
<select name= "choice" >

	<% @choices.each do |choices| %> 
	<option value= <%= choices %> > <%= choices %> </option>
	<% end %>

</select>
<br><br>
<input type="submit">
</form>

<% end %>


<%if @imagesource %>

<img src=<%= @imagesource %> > 
<%end%> 